{% extends 'base.user.html.twig' %}

{% block afficher %}




    <input id="search" type="text" placeholder="Search..." />


    {% for user in users %}
    <tr>

        <td>{{ user.cin  }} </td>
        <td> {{ user.username }}</td>
        <td> {{ user.prenom }}</td>
        <td> {{ user.genre }}</td>
        <td> {{ user.getDateNaissance() |date('Y-m-d') }} </td>
        <td> {{ user.email }}</td>

        <td> {{ user.adresse }}</td>
        <td>

            <a href="/user/delete/ {{ user.id }}"><button  type="button" class="btn btn-danger">Delete</button></a>
        </td>

    </tr>

    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#datatable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });

            });
        });
    </script>
{% endblock %}