{% extends 'base.user.html.twig' %}

{% block afficher %}

    {{ form_start (form) }}

    {{ form_row (form.first_name, {'label' : 'Nom d\'utilisateur','attr':
        {'placeholder':'Recherche par nom...'}}) }}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
    {{ form_end (form) }}
    {% for user in users %}
    <tr>

        <td>{{ user.cin  }} </td>
        <td> {{ user.username }}</td>
        <td> {{ user.prenom }}</td>
        <td> {{ user.genre }}</td>
        <td> {{ user.getDateNaissance() |date('Y-m-d') }} </td>
        <td> {{ user.email }}</td>

        <td> {{ user.adresse }}</td>
        <td>

            <a href="/user/delete/ {{ user.cin }}"><button  type="button" class="btn btn-danger">Delete</button></a>
        </td>

    </tr>

    {% endfor %}
{% endblock %}