{% extends 'base.signin.html.twig' %}
{% block form %}

    {{ form_start (form) }}
    {{ form_start(form, {'attr': {'novalidate':'novalidate' }} ) }}


    <fieldset>
        <h4>Votre Mail:{{ email }}</h4>

    </fieldset>
    <fieldset>
        {{ form_row (form.type, {'label' : 'Nom d\'utilisateur','attr':
            {'placeholder':'Entrer votre nom...'}}) }}


    </fieldset>
    <fieldset>
        {{ form_row (form.number, {'label' : '','attr':
            {'placeholder':'Entrer votre poids...'}}) }}
    </fieldset>

    <fieldset>
        {{ form_row (form.Date_inscri, {'label' : '','attr':
            {'placeholder':'Entrer votre taille...'}}) }}

    </fieldset>
    <fieldset>
        {{ form_row (form.Cours, {'label' : '','attr':
            {'placeholder':'Entrer votre age...'}}) }}
    </fieldset>


    <fieldset>
        {% apply spaceless %}
            {{ form_row (form.captchaCode) }}
        {% endapply %}
    </fieldset>




    <button type="submit" class="btn btn-success">Save</button>
    {{ form_end (form) }}

{% endblock %}
{#    {{ form_start(form) }}#}
{#    <h4>Votre email: {{ email }}</h4>#}
{#    {{ form_widget(form) }}#}

{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}
{#    #}
{#    <a href="{{ path('abonnement_index') }}">back to list</a>#}


