{{ form_start(form) }}
    <fieldset>
        {{ form_widget(form.type,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'type'}})}}
    </fieldset>
    <fieldset>
    {{ form_widget(form.description,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Description'}})}}
    </fieldset>
    <button class="btn btn-success">{{ button_label|default('Create') }}</button>
{{ form_end(form) }}
