{% extends 'base.signin.html.twig' %}

{% block form %}

    {{ form_start (form) }}
    {{ form_start(form, {'attr': {'novalidate':'novalidate' }} ) }}



    <fieldset>
        {{ form_row (form.name, {'label' : 'Nom d\'utilisateur','attr':
            {'placeholder':'Entrer votre nom...'}}) }}
        {{ form_errors(form.name) }}

    </fieldset>
    <fieldset>
        {{ form_row (form.poids, {'label' : '','attr':
            {'placeholder':'Entrer votre poids...'}}) }}
    </fieldset>
    <fieldset>
        {{ form_row (form.taille, {'label' : '','attr':
            {'placeholder':'Entrer votre taille...'}}) }}

    </fieldset>
    <fieldset>
        {{ form_row (form.taille, {'label' : '','attr':
            {'placeholder':'Entrer votre taille...'}}) }}

    </fieldset>
    <fieldset>
        {{ form_row (form.age, {'label' : '','attr':
            {'placeholder':'Entrer votre age...'}}) }}
    </fieldset>
    <fieldset>
        {{ form_row (form.cinparent, {'label' : '','attr':
            {'placeholder':'Entrer votre cinparent...'}}) }}
        {{ form_errors(form.cinparent) }}

    </fieldset>
    <fieldset>
        {{ form_row (form.academie, {'label' : '','attr':
            {'placeholder':'Entrer votre sport...'}}) }}
    </fieldset>
    <fieldset>
        {% apply spaceless %}
            {{ form_row (form.captchaCode) }}
        {% endapply %}
    </fieldset>




    <button type="submit" class="btn btn-success">Inscription!</button>
    {{ form_end (form) }}

{% endblock %}
